@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #desLogo img{
        width: 100%;
        height: auto;
    }
    #desImage{
        top: 560px;
    }
    #name{
        font-size: 350% !important;
        top: -440px !important; 
    }
    #aboutTitle{
        font-size: 300% !important;
    }
    #ExpTitle{
        font-size: 300% !important;
    }
}

@media only screen and (max-width: 414px) {
    /* For mobile phones: */
    #desLogo img{
        width: 100%;
        height: auto;
    }
    #name{
        font-size: 150% !important;
        top: -30% !important;
        text-align: center !important;
        padding-left: 40px !important;
    }
    #aboutTitle{
        font-size: 200% !important;
    }
    #ExpTitle{
        font-size: 150% !important;
    }
    #desImage{
        top: 500px;
    }
    .col-sm{
        font-size: 120%;
    }
    .right{
        display: none;
    }
}

@media only screen and (max-width: 411px), (max-height: 823px) {
    /* For mobile phones: */
    #desLogo img{
        width: 100%;
        height: auto;
        margin-top: 30px;
    }
    #name{
        font-size: 150% !important;
        top: -27% !important;
        text-align: center !important;
        padding-left: 40px !important;
    }
    #aboutTitle{
        font-size: 200% !important;
    }
    #ExpTitle{
        font-size: 150% !important;
    }
    #desImage{
        top: 580px;
    }
    .col-sm{
        font-size: 120%;
    }
    .right{
        display: none;
    }
}

@media only screen and (max-width: 375px), (max-height: 812px) {
    /* For mobile phones: */
    #desLogo img{
        width: 100%;
        height: auto;
    }
    #name{
        font-size: 150% !important;
        top: -26% !important;
        text-align: center !important;
        padding-left: 40px !important;
    }
    #aboutTitle{
        font-size: 200% !important;
    }
    #ExpTitle{
        font-size: 150% !important;
    }
    #desImage{
        top: 580px;
    }
    .col-sm{
        font-size: 120%;
    }
    .right{
        display: none;
    }
}

@media only screen and (max-width: 375px), (max-height: 667px) {
    /* For mobile phones: */
    #desLogo img{
        width: 100%;
        height: auto;
    }
    #name{
        font-size: 150% !important;
        top: -30% !important;
        text-align: center !important;
        padding-left: 40px !important;
    }
    #aboutTitle{
        font-size: 200% !important;
    }
    #ExpTitle{
        font-size: 150% !important;
    }
    #desImage{
        top: 450px;
    }
    .col-sm{
        font-size: 120%;
    }
    .right{
        display: none;
    }
}

@media only screen and (max-width: 320px), (max-height: 568px) {
    /* For mobile phones: */
    #desLogo img{
        width: 100%;
        height: auto;
        margin-top: 20px;
    }
    #name{
        font-size: 150% !important;
        top: -30% !important;
        text-align: center !important;
        padding-left: 40px !important;
    }
    #aboutTitle{
        font-size: 200% !important;
    }
    #ExpTitle{
        font-size: 150% !important;
    }
    #desImage{
        top: 390px;
    }
    .col-sm{
        font-size: 120%;
    }
    .right{
        display: none;
    }
}

.container-fluid{
    padding: 0px;
}

body{
    margin: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: #FF5400;
}

#navbar{
    height: 60px;
    background-color: #FF5400;
    box-sizing: border-box;
    width: 100%;
    padding: 0px;
}

#navbar ul{
    list-style: none;
}

.nav-link{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #ffffff;
}

.nav-item{
    padding-left: 10px;
}

.show{
    background-color: #FF5400;
    margin-top: -10px;

}

#logo{
    height: 60px;
    width: 60px;
}

#logo:hover{
    opacity: .5;
}

#backdrop{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #FF5400;
    padding: 0;
    margin: 0;
}

#desImage{
    box-sizing: border-box; 
    width: 100%;
    height: auto;
    position: fixed;
    bottom: -887px;
}

#backImage {
    box-sizing: border-box; 
    width: 100%;
    height: auto;
    position: fixed;
    bottom: -26px;
    opacity: .31;
}

#desLogo{
    text-align: center;
    position: relative;
    opacity: .1;
    z-index: 99;
}

#name{
    font-family: 'Rubik Mono One', sans-serif;
    background: transparent;
    font-weight: 900;
    font-size: 440%;
    text-align: center;
    position: relative;
    top: -470px;
    color: #ffffff;
    z-index: 100;
    padding-left: 120px;
}

#btnAgain{
    z-index: 999;
}

#aboutTitle {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 4em;
    text-align: center;
    position: relative;
    top: 50px;
    left: 0px;
    color: #39363D;
}

#about{
    color: #ffffff;
    background-color: #ffffff;
    z-index: 999;
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
}

#aboutCon{
    margin-top: 60px; 
    text-align: center;
    color: #39363D;
    height: 100%;
}

#aboutCon .row .col-sm{
    padding: 20px;
}

#quote{
    text-align: center;
    margin-top: 100px;
}

#aboutLinks{
    margin-top: 100px;
}

#experience{
    background-color: aqua;
    background-image: url("Pics/BackgroundColor-Blue.png")
}

#resume{
    background-color: #ffffff;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    opacity: .8;
}

#ExpTitle {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 4em;
    text-align: center;
    padding-top: 10px; 
    color: #39363D;
}

.title{
    margin-top: 20px;
    font-size: 200%;
    font-weight: 900;
}

.infoTitle{
    font-size: 150%;
    font-weight: 600;
    display: inline;
}

.subtitle{
    font-size: 150%;
    font-style: italic;
}

.subInfo{
    font-size: 125%;
    display: inline;
}

.right{
    float: right;
}

.job{
    margin-top: 10px;
}

.no-bullets{
    list-style: none;
}

p{
    margin: 5px;
}

.skill{
    font-size: 18px;
    padding-right: 10px;
    text-align: left;
}

.fas{
    font-size: 18px;
    float: right;
    -webkit-transition: padding-right 1s;
    transition: padding-right 1s;
}

.far{
    font-size: 18px;
    float: right;
    -webkit-transition: padding-right 1s;
    transition: padding-right 1s;
}

.fas far:hover{
    padding-right: 3px; 
}

#contact {
    background-color: #FF5400;
    height: 900px;
}





